*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
}
.navbar{
    background-color:#121212 ;
}

.nav-item{
    margin-left: 30px;
    text-decoration: none;
    color: yellowgreen;
    font-size: 18px;
    
}
.navbar-brand{
    font-size: 40px;
    font-weight: bolder;
    color: yellowgreen;
}
.nav-item a:hover{
    color: white;
   }
.card{
    background-color: yellowgreen;
    display: grid;
    
    
}
.btn{
    background-color: yellowgreen;
    border: none;
}
.card-text{
    color: white;
}
.card-title{
    color: yellowgreen;
}
a{
    text-decoration: none;
}